beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
fake-useragent==0.1.11
idna==2.9
inscriptis==1.0
lxml==4.5.0
numpy==1.22.0
opencv-python==4.2.0.32
Pillow==7.0.0
pycurl==7.43.0.5
PySocks==1.7.1
pytesseract==0.3.3
requests==2.23.0
soupsieve==2.0
stem==1.8.0
termcolor==1.1.0
urllib3==1.25.8
